{% extends 'vital/base.html' %}

{% block content %}
<form action="{% url 'authoring:course_add_vms' 'course_id=course.id' %}" method='POST'>
    {% csrf_token %}
    {% if error_message %}
    <p class="error">
            {{ error_message }}
    </p>
    {% endif %}
    <table style="width: auto">
    {% for field in form %}
        <tr>
            <td><label for="{{ field.auto_id }}">{{ field.label_tag }}
            <td>{{ field }}</td>
            {% if field.errors %}
                <td colspan="2" align="right">
		          {% for error in field.errors %}
		            <div style="font-size: 10px; color: red" align="right">{{ error }}</div>
		          {% endfor %}
                  </td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr>
        <td colspan="3" align="right"><input type='submit' value='Next'/></td>
    </tr>
    </table>

</form>
{% endblock content %}