{% extends 'vital/base.html' %}

{% block content %}
<div style="width: 100%" align="left"><h5 style="padding-left: 20px"> Forgot your password? </h5></div>

{% if message %} <p style="color: green">{{ message }}</p> {% endif %}
<form action="{% url 'vital:user_forgot_password' %}" method='POST'>
    {% csrf_token %}
{% if error_message %}
<p class="error">
        {{ error_message }}
</p>
{% endif %}
    <table style="width: auto">
        {% for field in form.visible_fields %}
            <tr>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
            {% if field.errors %}
		          <td colspan="2" align="right">
		          {% for error in field.errors %}
		            <div style="font-size: 10px; color: red" align="right">{{ error }}</div>
		          {% endfor %}
                  </td>
		        {% endif %}
            </tr>
        {% endfor %}
    <tr><td colspan="2" align="right"><input type='submit' value='Reset Password'/></td></tr>
    </table>
</form>
{% endblock content %}