{% extends 'vital/base.html' %}
{% load staticfiles %}
{% block content_without_center %}
    <script type="application/javascript">
    function refresh() {
        $.ajax({
            url: "{% url 'vital:virtual_machines' course_id %}",
            success: function(data) {
                $('#vms').html(data);
            }
        });
        setTimeout(refresh, 5000);
    }

    $(function(){
        refresh();
    });

    function windowpop(url, name, width, height, vm_id) {
    var leftPosition, topPosition;
    //Allow for borders.
    leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
    //Allow for title and status bars.
    topPosition = (window.screen.height / 2) - ((height / 2) + 50);
    //Open the window.
    window_child = window.open(url, name,
            "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition
            + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition
            + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
        console.log('save vm'+vm_id);
    sessionStorage.setItem('window_'+vm_id, window_child);
        return false;
    };


$(window).load(function(){
    $("#message").delay(4000).fadeOut();
});
    </script>
<style type="text/css">
    #center{
        width : 800px
    }
	.box {
	    border:1px solid #ccc;
	    margin:20px;
	    height:120px;
	    width:140px;
		float:left;
	}
	.overlay {
	    background:rgba(0, 0, 0, .5);
	    text-align:center;
	    opacity:0;
	    width:100%;height:100%;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	.box:hover {
	    border:1px solid #555;
	    border-radius:5px;
	}
	.box:hover .overlay {
	    opacity:1;
	}
    </style>

    {% if message %}
           <div id="message" style="position: absolute; width:65%; height:25px; background-color: #ddea91;
           z-index: 1100; top:160px; font-size: small; color: darkred">{{ message }}</div>
       {% endif %}
<div id = "vms">
    {% include "virtual_machines.html" %}
</div>

{% endblock content_without_center %}
