{% extends 'vital/base.html' %}
{% load staticfiles %}
{% block content_without_center %}
    <script type="application/javascript">
    function windowpop(url, name, width, height, vm_id) {
    var leftPosition, topPosition;
    //Allow for borders.
    leftPosition = (window.screen.width / 2) - ((width / 2) + 10);
    //Allow for title and status bars.
    topPosition = (window.screen.height / 2) - ((height / 2) + 50);
    //Open the window.
    window_child = window.open(url, name,
            "status=no,height=" + height + ",width=" + width + ",resizable=yes,left=" + leftPosition
            + ",top=" + topPosition + ",screenX=" + leftPosition + ",screenY=" + topPosition
            + ",toolbar=no,menubar=no,scrollbars=no,location=no,directories=no");
        console.log('save vm'+vm_id);
    sessionStorage.setItem('window_'+vm_id, window_child);
        return false;
    };


$(window).load(function(){
    $("#message").delay(4000).fadeOut();
});
    </script>
<style type="text/css">
    #center{
        width : 800px
    }
	.box {
	    border:1px solid #ccc;
	    margin:20px;
	    height:120px;
	    width:140px;
		float:left;
	}
	.overlay {
	    background:rgba(0, 0, 0, .5);
	    text-align:center;
	    opacity:0;
	    width:100%;height:100%;
	    -webkit-transition: all 0.3s ease-in-out;
	    -moz-transition: all 0.3s ease-in-out;
	    -o-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	    transition: all 0.3s ease-in-out;
	}
	.box:hover {
	    border:1px solid #555;
	    border-radius:5px;
	}
	.box:hover .overlay {
	    opacity:1;
	}
    </style>

    {% if message %}
           <div id="message" style="position: absolute; width:65%; height:25px; background-color: #ddea91;
           z-index: 1100; top:160px; font-size: small; color: darkred">{{ message }}</div>
       {% endif %}
    {% if virtual_machines %}

    <div id="center" align="center" style="width: 800px">
        <div width="500px" style="position: relative">
            {% for vm in virtual_machines %}
                <div class="box" width="25%" style='background:url({% static  vm.type.icon_location %}) no-repeat 50% 50%;background-size: contain;'
                     title={{ vm.name }}>
		            <div class="overlay" style="width:100%;height:100%">
	                    <div style="height:33%;padding-top:7px">
                            {% if vm.state == 'R'%}
                                <a href='/vital/courses/{{ course_id }}/vms/{{ vm.id }}/stop' onclick="openNav()">
                                    <img src="{% static  'vital/red-power.png' %}" width="30px" height="30px" title="Stop VM"/>
                                </a>
                            {% else %}
                                <a href='/vital/courses/{{ course_id }}/vms/{{ vm.id }}/start' onclick="openNav()">
                                <img src="{% static  'vital/green-power.png' %}" width="30px" height="30px" title="Start VM"/>
                            </a>
                            {% endif %}
                        </div>
                        <div style="height:33%;">
                            {% if vm.state == 'R'%}
                            <a href="http://{{ server_name }}:{{ vm.terminal_port }}/vnc_auto.html"
                               onclick="return windowpop(this.href, 'Terminal-{{ vm.id }}', 825, 680, {{ vm.id }})">
                                <img src="{% static  'vital/console.ico' %}" width="30px" height="30px" title="View console"/>
                            </a>
                                <!--<a href="/vital/console/{{ vm.id }}"
                               onclick="return windowpop(this.href, 'Terminal-{{ vm.id }}', 825, 680, {{ vm.id }})">
                                <img src="{% static  'vital/console.ico' %}" width="30px" height="30px" title="View console"/>
                            </a>-->
                            {% endif %}
                        </div>
                        <div style="height:33%;">
                            {% if vm.state != 'R'%}
                            <a href='/vital/courses/{{ course_id }}/vms/{{ vm.id }}/rebase' onclick="reimage_prompt()">
                                <img src="{% static  'vital/reimage.png' %}" width="30px" height="30px" title="Reimage VM"/>
                            </a>
                            {% endif %}

                        </div>
		            </div>

                    {% if vm.state == 'R'%}
                        <div style="width:100%; margin-top:-5px; background-color: green; height: 7px">&nbsp;</div>
                    {% else %}
                        <div style="width:100%; margin-top:-5px; background-color: red; height: 7px">&nbsp;</div>
                    {% endif %}
		            <div style="width:100%; margin-top:-5px; font-weight:bold" align="center">{{ vm.name }}</div>
		        </div>
            {% endfor %}
        </div>
     </div>
    {% endif %}

    <script> function reimage_prompt() {
         if (confirm("Are you sure you want to reimage?")){
             openNav();
         }else{
         }
    }
    </script>

{% endblock content_without_center %}