{% load staticfiles %}

{% if virtual_machines %}

<script>
    var clicked = false;
    $('.ctrlbtn').on('click', function(e) {
	if(clicked) {
	    console.log("in script")
            e.preventDefault();
	    $(this).off("click").attr('href', "javascript: void(0);");
        }
        clicked = true;
    });
</script>

<div id="center" align="center" style="width: 800px">
    <div width="500px" style="position: relative">
        {% for vm in virtual_machines %}
        <div class="box" width="25%" style='background:url({% static  vm.type.icon_location %}) no-repeat 50% 50%;background-size: contain;'
            title={{ vm.name }}>
            <div class="overlay" style="width:100%;height:100%">
                <div style="height:33%;padding-top:7px">
                    {% if vm.state == 'R'%}
                    <a class='ctrlbtn' href='/vital/courses/{{ course_id }}/vms/{{ vm.id }}/stop' onclick="openNav()">
                        <img src="{% static  'vital/red-power.png' %}" width="30px" height="30px" title="Stop VM" />
                    </a>
                    {% else %}
                    <a class='ctrlbtn' href='/vital/courses/{{ course_id }}/vms/{{ vm.id }}/start' onclick="openNav()">
                        <img src="{% static  'vital/green-power.png' %}" width="30px" height="30px" title="Start VM" />
                    </a>
                    {% endif %}
                </div>
                <div style="height:33%;">
                    {% if vm.state == 'R' %}
                        {% if display_type == 'SPICE' %}
                            <a href="https://{{ server_name }}/spice/index.html?host={{ server_name }}&port={{ vm.terminal_port }}" onclick="return windowpop(this.href, 'Terminal-{{ vm.id }}', 825, 680, {{ vm.id }})">
                                <img src="{% static  'vital/console.ico' %}" width="30px" height="30px" title="View console" />
                            </a>
                        {% else %}
                            <a href="http://{{ server_name }}:{{ vm.terminal_port }}/vnc_auto.html" onclick="return windowpop(this.href, 'Terminal-{{ vm.id }}', 825, 680, {{ vm.id }})">
                                <img src="{% static  'vital/console.ico' %}" width="30px" height="30px" title="View console" />
                            </a>
                        {% endif %}
		    <!--<a href="/vital/console/{{ vm.id }}"
                               onclick="return windowpop(this.href, 'Terminal-{{ vm.id }}', 825, 680, {{ vm.id }})">
                                <img src="{% static  'vital/console.ico' %}" width="30px" height="30px" title="View console"/>
                            </a>-->
                    {% endif %}
                </div>
                <div style="height:33%;">
                    {% if vm.state != 'R'%}
                    <a href='/vital/courses/{{ course_id }}/vms/{{ vm.id }}/rebase' onclick="openNav()">
                        <img src="{% static  'vital/reimage.png' %}" width="30px" height="30px" title="Reimage VM" />
                    </a>
                    {% endif %}
                </div>
            </div>

            {% if vm.state == 'R'%}
            <div style="width:100%; margin-top:-5px; background-color: green; height: 7px">&nbsp;</div>
            {% else %}
            <div style="width:100%; margin-top:-5px; background-color: red; height: 7px">&nbsp;</div>
            {% endif %}
            <div style="width:100%; margin-top:-5px; font-weight:bold" align="center">{{ vm.name }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
