/*****************
 Main theme overrides
 ****************/
#container-top {margin: 0;}

/* #container {padding-top: 12px;} */

body.homepage #center {padding-top: 0;}

body.homepage #center ul {
	padding: 0;
	list-style: none;
	list-style-image: none;
}

body.homepage #center h4.block-header {
	padding: 15px 0;
	margin: 0;
	color: #eb550b;
	font-size: 1em;
	text-transform: uppercase;
}
body.homepage #center h4.block-header a {color: #eb550b;}
body.homepage #center h4.block-header a:hover {color: #333;}

body.homepage #center h5 {
	margin-top: 0;
	margin-bottom: 12px;
}
body.homepage #center h5 a {color: #333;}

body.homepage #center a:hover {text-decoration: underline;}

/* -- home image fader -- */
#bg-fader-cont {
	position: absolute;
	top: 0px;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@media screen and (max-width: 980px) {
	#bg-fader-cont {width: 980px;}
}

#bg-fader-cont img {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -640px;
}

/*****************
 Main home feature
 ****************/
#home-feature {
	background: #444;
	border-bottom: 1px solid #eee;
	position: relative;
	height: 520px;
/* 	width: 980px; */
	margin: 0;
}

#home-feature ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}

ul#feature-view {
	position: relative;
	height: 520px;
}

ul#feature-view li {
	padding: 10px 15px;
	position: absolute;
	top: 140px;
	width: 300px;
	display: none;
	opacity: 0;
}

ul#feature-view li.left {left: 93px;}

ul#feature-view li.right {right: 93px;}

ul#feature-view li.nopanel {
	padding: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
	background: none;
	border: 0;
}
ul#feature-view li.nopanel a {
	display: block;
	width: 100%;
	height: 100%;
	/* This is to fix damn IE problem of miss handling 'block'links in absolutely positioned container */
	background: url('/sites/all/themes/polyframe/images/home_feature_sprite.png') no-repeat 2000px 2000px;
}

ul#feature-view li.active {
	display: block;
	opacity: 1;
}

ul#feature-view p.ft-tag {
	background: #7bc143;
	color: #fff;
	display: inline-block;
	font-size: 0.8em;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 2px;
	padding: 1px 10px;
}

ul#feature-view h3 {
	background: url('/sites/all/themes/polyframe/images/dashed_bg.png') repeat left top;
	color: #fff;
	font-size: 1.5em;
	font-weight: lighter;
	margin-top: 0;
	margin-bottom: 2px;
	padding: 5px 10px;
}

ul#feature-view p.ft-link {
	background: url('/sites/all/themes/polyframe/images/dashed_bg.png') repeat left top;
	display: inline-block;
	margin-top: 0;
}

ul#feature-view p.ft-link a {
	color: #7bc143;
	display: inline-block;
	font-size: 0.9em;
	font-weight: lighter;
	background: url('/sites/all/themes/polyframe/images/home_feature_sprite.png') no-repeat 7px -110px;
	text-transform: uppercase;
	padding: 9px 10px 8px 39px;
}

ul#feature-view p.ft-link a:hover {
	background-color: #7bc143;
	color: #fff;
	background-position: 7px -142px;
}

/* feature nav */
ul#feature-nav {
	padding: 20px;
	margin: -70px auto 0 auto;
	text-align: center;
	position: relative;
}

ul#feature-nav li.nav-item {
	position: absolute;
	top: -256px;
	padding: 20px 30px;
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}

#home-feature:hover ul#feature-nav li.nav-item {
	opacity: 1;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

ul#feature-nav li.left-arrow {
	left: 0;
	padding-left: 0;
}
ul#feature-nav li.right-arrow {
	right: 0;
	padding-right: 0;
}

ul#feature-nav li.nav-item a {
	background: url('/sites/all/themes/polyframe/images/home_feature_sprite.png') no-repeat top left;
	display: block;
	text-indent: -9999em;
	width: 32px;
	height: 52px;
	-webkit-transition: margin 0.1s linear;
	-moz-transition: margin 0.1s linear;
	transition: margin 0.1s linear;
}

ul#feature-nav li.left-arrow a {
	background-position: 0px 0px;
	margin-left: 5px;
}
ul#feature-nav li.right-arrow a {
	background-position: -37px 0px;
	margin-right: 5px;
}

ul#feature-nav li.left-arrow a:hover {
	background-position: 0px -53px;
	margin-left: 0px;
	padding-right: 5px;
}
ul#feature-nav li.right-arrow a:hover {
	background-position: -32px -53px;
	margin-right: 0px;
	padding-left: 5px;
}

ul#feature-nav li.ft-item {
	margin: 0 6px;
	display: inline-block;
}

ul#feature-nav li.ft-item a {
	background: #fff;
	color: transparent;
	display: block;
	font-size: 0px;
	width: 10px;
	height: 10px;
	outline: none;
	-webkit-box-shadow: 0 1px 5px #ccc;
	-moz-box-shadow: 0 1px 5px #ccc;
	box-shadow: 0 1px 5px #ccc;
}

ul#feature-nav li.ft-item a.active,
ul#feature-nav li.ft-item a:hover {
	background: #7bc143;
	-webkit-box-shadow: 0 1px 5px #aaa;
	-moz-box-shadow: 0 1px 5px #aaa;
	box-shadow: 0 1px 5px #aaa;
}

/*****************
 Alerts
 ****************/
#alert {
}

#alerts-list {
	list-style: none;
	list-style-image: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

#alerts-list li {
/* 	background: url('/sites/all/themes/polyframe/images/dashes_light.png') repeat left top; */
	font-size: 16px;
	font-weight: bold;
}

	#alerts-list .type-emergency {
		background-color: #DD1B4D;
	}
	#alerts-list .type-warning {
		background-color: #fac207;
	}
	#alerts-list .type-notice {
		background-color: #35AD67;
	}
	#alerts-list .type-info {
		background-color: #53b8f3;
	}

	#alerts-list a {
		color: #fff;
		display: block;
		padding: 20px 25px;
		width: 930px;
	}
		#alerts-list a:hover {
			text-decoration: underline;
		}

/*****************
 Top Section
 ****************/
 
#top-section {padding: 0px 0 10px 0;}

#top-section .block {border: none;}

#top-section .block h2 {margin-bottom: 15px;}

/*****************
 News Section
 ****************/

#featured-news .block {margin-left: 80px;}

#featured-news li.first {
	list-style: none;
	list-style-image: none;
	margin-bottom: 20px;
}

#featured-news li.first h5 {
	font-size: 16px;
	margin-bottom: 0;
	overflow: auto;
	padding: 0 0 1px 0;/* Fix overflow scrollbars issue in Safari */
}
#featured-news li.no-img h5 {font-size: 20px;}

#featured-news li.first p.teaser {margin-top: 10px;}

#featured-news a.news-pic {
	display: block;
	float: left;
	margin: 0 20px 20px -80px;
}
 
#featured-news img {
	padding: 2px;
	display: block;
	background: #ddd;
	border: 1px solid #ccc;
}

#featured-news p.submitted {color: #7bc143;}

#featured-news p.teaser {
	color: #707070;
	font-size: 1em;
}

/*****************
 Events Section
 ****************/
 
 
 /*****************
 Take me to section
 ****************/
#quick-links {
	border-top: 1px dashed #eee;
}
	#quick-links li {
		border-bottom: 1px dashed #eee;
	}
	
	#quick-links a {
		color: #666;
		display: inline-block;
		font-weight: bold;
		padding: 5px 0 5px 20px;
	}
		#quick-links a:before {
			margin-left: -20px;
		}

/*****************
 Bottom Ads Section
 ****************/
#bottom-section {
	margin-top: 48px;
	padding-bottom: 24px;
}

#bottom-section a.block-link {
	border: 1px solid #f8f8f8;
	margin: -1px;
}
#bottom-section a img {display: block;}
#bottom-section a:hover img {opacity: 0.8;}